.comment
  .meta
    = link_to "##{comment.id}", comment_path(comment)
    %span.author= comment.user.display_name
    %span.timestamp{title: comment.updated_at.utc.iso8601}
      = surround '[', ' ago]'do
        = time_ago_in_words comment.updated_at
  .message
    = comment_markdown comment.body
  - unless comment.children.nil?
    .children
      - comment.children.each do |child|
        = render child
