%article.article-summary
  %h1= article.title
  .meta
    By
    %span.author= article.user.display_name
    .timestamp{title: article.updated_at.utc.iso8601}
      = article.updated_at.to_s(:date)
  .body= article_markdown article.tldr
  .link= link_to 'read full article »', article_path(article)
