%h1.title= @article.title
%article.article-body
  .meta
    by
    %span.author= @article.user.display_name
    .timestamp{title: @article.updated_at.utc.iso8601}
      = @article.updated_at.to_s(:date)
  .body= article_markdown @article.body
- unless @article.children.nil?
  %section.comments
    - @article.children.each do |comment|
      = render comment
