@import 'layouts/constants'

.article-body, .article-summary
  li
    max-width: $text-width
    list-style: none
    &::before
      content: "■"
      margin-right: $gap
      color: $nav-highlight-color
  ul
    padding: 0
  p
    max-width: $text-width
    text-align: justify
    margin-bottom: $gap-more
    &:last-child
      margin-bottom: 0

.article-body
  margin-bottom: $gap-large
  &:last-child
    margin-bottom: 0

  .section
    display: flex
    margin-bottom: $gap-large
    &:last-child
      margin-bottom: 0

  .text
    margin-right: $gap-large

.article-summary
  margin-bottom: $gap-large
  &:last-child
    margin-bottom: 0

.root
  .article-summary
    opacity: $unimportant-opacity

pre
  background-color: black
  max-width: $code-width
  padding: $gap
  overflow: auto
  border-radius: $border-radius

@media only screen and (max-width: #{$max-total-width})
  .article-body
    .section
      flex-direction: column
    .text
      margin-bottom: $gap-more
