@import 'layouts/constants'

.anchor
  margin-bottom: $gap-large

.comments, .comment-body
  p
    max-width: $text-width
    text-align: justify

.comments
  border-top: $rule-width solid $rule-color
  font-size: $comment-font-size
  padding-top: $gap-large

.children
  margin-left: $gap-large

  .message
    margin: $gap 0
    border-left: $quote-rule-width solid $rule-color
    padding-left: $gap

.children .comment
  .message
    border-color: $comment-bar-1

  .comment
    .message
      border-color: $comment-bar-2

    .comment
      .message
        border-color: $comment-bar-3

      .comment
        .message
          border-color: $comment-bar-4

        .comment
          .message
            border-color: $comment-bar-5

          .comment
            .message
              border-color: $comment-bar-6

            .comment
              .message
                border-color: $comment-bar-7

              .comment
                .message
                  border-color: $comment-bar-8

                .comment
                  .message
                    border-color: $comment-bar-9

.comment-body > .comment > .children
  font-size: $comment-font-size
