@import 'layouts/normalize'
@import 'layouts/constants'

*
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box
body
  background-color: $background-color
  color: $text-color
  font-family: $text-font
  font-size: $base-font-size
  line-height: 1.6
img
  max-width: 100%
h1, h2, h3, h4, h5, h6
  font-family: $header-font
  font-weight: normal
  line-height: 1.2
p, pre, figure
  margin: 0
code
  font-family: $code-font
a
  color: $link-color
  &:visited
    color: $visited-link-color
  &:hover
    color: $hover-link-color
