@import 'layouts/constants'

html
  height: 100%

body
  margin: 0
  display: flex
  flex-direction: column
  width: 100%
  min-height: 100%

.content
  padding: $gap-large
  flex-grow: 1

.footer
  background-color: $footer-background-color
  padding: $gap-more $gap-large
