@import 'layouts/constants'

.sidebar-button
  display: none
  position: absolute
  z-index: 1
  right: 0
  height: $nav-button-height
  background-color: $nav-background-color
  &::before
    content: '☰'
    padding: 0 $gap
    font-size: $menu-font-size
    line-height: 1

.sidebar
  position: absolute
  z-index: 1
  right: 0
  width: $nav-width
  background-color: $nav-background-color
  border-bottom-left-radius: $border-radius
  ul
    margin: 0
    margin-bottom: $gap
    padding: 0
  li
    list-style: none
  a
    padding: $gap $gap-more
    display: block
    text-decoration: none
    &:hover
      background: $nav-active-background-color
    &::before
      content: "■"
      margin-right: $gap
      color: $nav-highlight-color

@media only screen and (max-width: #{$max-mobile-width})
  .sidebar-button
    border-bottom-left-radius: $border-radius
    display: block
  .sidebar
    margin-top: $nav-button-height
    border-top-left-radius: $border-radius
  .vertical-list
    display: none

  .display-list
    .sidebar-button
      border-bottom-left-radius: 0
    .vertical-list
      display: block
