!!! XML
%urlset{"xmlns" => "http://www.sitemaps.org/schemas/sitemap/0.9", "xmlns:xsi" => "http://www.w3.org/2001/XMLSchema-instance", "xsi:schemaLocation" => "http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd"}
  %url
    %loc= root_url
    %lastmod= @articles.first.updated_at
    %changefreq monthy
  - @articles.each do |article|
    %url
      %loc= article_url(article)
      %lastmod= article.updated_at
      %changefreq monthly
  %url
    %loc= root_url + '/files/srikanth_resume.pdf'
    %lastmod 2019-01-01
    %changefreq monthly
    %priority 0.9
  %url
    %loc= code_url
    %lastmod 2019-01-01
    %changefreq monthly
  %url
    %loc= publications_url
    %lastmod 2019-01-01
    %changefreq monthly
