#sidebar_button.sidebar-button
%nav.sidebar
  %ul.vertical-list
    %li= link_to 'Home', root_path
    %li= link_to 'Code', code_path
    %li= link_to 'Publications', publications_path
    %li= link_to 'Resume', '/files/srikanth_resume.pdf'
    %li= link_to 'Feed', articles_path(format: :atom)
    - if logged_in?
      %li= link_to 'Log out', logout_path, method: :delete
