!!! 5
%html
  %head
    %title
      Srikanth Agaram
      - if @title.present?
        = @title
    %meta{name: 'viewport', content: 'width=device-width'}
    = favicon_link_tag 'favicon.png'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload', defer: true
    = csrf_meta_tag
    = auto_discovery_link_tag(:atom, articles_path(format: :atom))
  %body
    %header#top_header.top-header= render partial: 'layouts/nav'
    %main.content= yield
    %footer.footer= copyright_message
